.Resultscontainer{
}

.player1Container{
    border-width: 3px;
    border-style: dashed;
    border-color: black;
}
.player2Container{
    border-width: 3px;
    border-style: dashed;
    border-color: black;
}
.titleContainer{
    text-align: center;
    background: rgb(178, 212, 178);
}
body{
    background: rgb(223, 236, 199);
}
